# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Build & egg-info
build/
dist/
*.egg-info/
.eggs/

# Environments
.venv/
venv/
ENV/
env/

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Tooling caches
.mypy_cache/
.ruff_cache/
.v3code/

# IDE / OS
.vscode/
.idea/
.DS_Store
